<!-- Fixed Gallery -->
<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686147799/Dwish/sandwich_picture1_b3lgsa.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686147799/Dwish/sandwich_picture3_gad4qt.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686147799/Dwish/sandwich_picture7_duwfj3.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686147798/Dwish/sandwich_picture2_i5k7gc.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686147798/Dwish/sandwich_picture5_i9d92h.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686147798/Dwish/sandwich_picture6_a7gwqp.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686147798/Dwish/sandwich_picture8_eqodq9.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686148121/Dwish/box_picture_1_v9nir0.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686148202/Dwish/sandwich_picture8_hopxwy.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686148201/Dwish/sandwich_picture9_syodqy.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686148363/Dwish/sandwich_picture_10_muqp3i.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686148376/Dwish/sandwich_picture_11_ofcm8l.jpg" alt="">
        </div>
    </div>
</div>

<div class="m-5 p-5"></div>

<div class="grid gap-4">
    <div class="grid grid-cols-5 gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686150496/Dwish/sandwich_picture13_ef8utk.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686150496/Dwish/sandwich_picture12_op8dhr.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686150496/Dwish/bottle_picture2_n990oa.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686150496/Dwish/buffer_picture_hdzo5y.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686150495/Dwish/logo_1_b8wmol.jpg" alt="">
        </div>
    </div>
        <div class="grid grid-cols-5 gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686150495/Dwish/bottle_picture1_bygwbr.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686150495/Dwish/logo_3_k6ww8e.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686150495/Dwish/logo_2_qmrsgh.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686150495/Dwish/ad_1_h7uzup.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686150763/Dwish/sandwich_picture14_gl5e2a.jpg" alt="">
        </div>
    </div>
</div>

<div class="m-8 p-8"></div>
